.nav {
	height:90px;
	width:100%;
	background-color:#ffffff;
	padding: 28px 15px 0px 15px;
	position:fixed;
	right:0;
	left:0;
	top:0;
	z-index: 1030;

		.nav-menu {
			overflow:hidden;
			float:right;
			display: inline;
			margin-top: 4px;

			a {
				float:right;
    			text-align: center;
    			text-decoration: none;
    			margin-right: 25px;
			}

			&:last-child {
				margin-right:0;
			}
		}


	.nav-logo {
		float: left;

			a:hover {
				border:none;
			}

			img {
				height:35px;
			}
	}
}
