body {
	font-family:$sans-serif;
	font-weight:$light;
	font-size: 15px;	
	color: $dark-grey;
	line-height: 27px;
}

h1 {
	font-size: 19px;
	line-height: 30px;
	font-weight:$normal;
}


//general 
.uppercase {
	text-transform:uppercase;
}

strong {
	font-weight: $bold;
}


//links
a {
	color:$dark-grey;
	text-decoration:none;
}

a:hover {
	border-bottom: 2px $bright-green solid;
	padding-bottom: 5px;
}
